@charset "utf-8";

/* 初始化样式开始 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

address, cite, dfn, em, var {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

input, label, button, input, select, textarea {
    vertical-align: middle;
    font-family: "微软雅黑";
}

/* 链接 */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #004284;
    text-decoration: none;
}

a:active {
    outline: none;
}

/*add some change*/
/*some more change*/